{:deps true

 :builds
 {:extension
  {:target            :node-library
   :output-to         "extension.js"
   :exports           {:activate lightcode.core/activate}
   :compiler-options  {:optimizations :simple}}}}